In [48]:
import pandas as pd

In [49]:
import numpy as np

In [50]:
df=pd.DataFrame(np.random.randint(0,100,size=(100,4)),columns=list('ABCD'))  #creating dataset with random integers using numpy function

In [51]:
df.head(50)

     A   B   C   D
0   51  22  41  76
1   29  10   0  71
2    8  33  15  82
3   20   0  86  41
4   85  38  61  19
5   69  69  10  30
6   73  59  61  56
7   22  83  36  84
8   90  64  83  64
9   66  18  96  92
10  82  99  25  26
11   6  47  78  18
12  26   2  89   3
13  95   0   6  83
14  92  86  99  67
15  22  46  54  16
16  29  58  12  39
17  42  25  88  35
18  73  84  16  63
19  57  36  70  73
20  75  83  14  79
21  98   7  71  36
22  35  31  92  91
23   9  47  41  14
24  30  67  30  18
25  35  92  39   0
26  88  60  15   0
27  86  46  77  50
28  45  97  99  52
29   8  35  73  68
30  61   1   8  73
31  15  22  93  72
32  18  10  57  36
33  45  31  97  28
34  15  28  87  25
35  58  22  36  39
36   0  99  82  46
37  91  79  80  13
38  89  35  66  22
39  12   3  21  76
40  93   7  72  90
41  74  77  78  80
42  82  71   1  83
43  24  47  29  37
44  45  61  34   6
45  58  83  53  15
46  31  69  59  82
47  16  88  40  61
48  57  23  61  35
49  55  39  83  94

In [52]:
df.query("index>A")

     A   B   C   D
11   6  47  78  18
23   9  47  41  14
29   8  35  73  68
31  15  22  93  72
32  18  10  57  36
34  15  28  87  25
36   0  99  82  46
39  12   3  21  76
43  24  47  29  37
46  31  69  59  82
47  16  88  40  61
53  50  62   0  66
54   4  79  89   2
55  52   9  46  96
56  35  71   9  25
57  48   3  94  84
58  40  81   8  74
59  45  45  43  45
63  32  10  80  51
64  37  82  66  68
65  16  60  12  75
66  38  85  60  34
69  56  77  71  56
70  43  96  20  75
71  34  24  34  22
72  23  83  55  29
73  13   9  24   1
74  29   4  35  47
76  47   4  64  61
78  45   4  50  18
81  66  81  97   0
82   5  68   7  28
83  82  90  26  87
84  49  59   4  12
85  76  88  21  25
86  76  31  69  43
87  57   3  84  74
89  84  74  99  99
90  69  45  55  32
91  85  89  51   5
92  51  45   1  58
93  66  11  44  95
94  84  55  96  21
95  75   1  46  56
96  95  79  55  79
97  43  66  90   2
98  89  46  33  44
99  66  37  49  91

In [54]:
df.query("index<A & index>B")

     A   B   C   D
3   20   0  86  41
12  26   2  89   3
13  95   0   6  83
21  98   7  71  36
30  61   1   8  73
33  45  31  97  28
35  58  22  36  39
38  89  35  66  22
40  93   7  72  90
48  57  23  61  35
49  55  39  83  94
51  71  18  28  26
52  97  18  85  21
60  90   2  98   7
61  92  11  79  94
62  70  61   4  55
75  93  56  17  95
77  90  60  63  24
79  81  56  24  40
80  88  13  37  43
88  98  84   4  96

In [55]:
df.query("A>30")

     A   B   C   D
0   51  22  41  76
4   85  38  61  19
5   69  69  10  30
6   73  59  61  56
8   90  64  83  64
9   66  18  96  92
10  82  99  25  26
13  95   0   6  83
14  92  86  99  67
17  42  25  88  35
18  73  84  16  63
19  57  36  70  73
20  75  83  14  79
21  98   7  71  36
22  35  31  92  91
25  35  92  39   0
26  88  60  15   0
27  86  46  77  50
28  45  97  99  52
30  61   1   8  73
33  45  31  97  28
35  58  22  36  39
37  91  79  80  13
38  89  35  66  22
40  93   7  72  90
41  74  77  78  80
42  82  71   1  83
44  45  61  34   6
45  58  83  53  15
46  31  69  59  82
..  ..  ..  ..  ..
66  38  85  60  34
67  93  96   4  37
68  92  73  67  19
69  56  77  71  56
70  43  96  20  75
71  34  24  34  22
75  93  56  17  95
76  47   4  64  61
77  90  60  63  24
78  45   4  50  18
79  81  56  24  40
80  88  13  37  43
81  66  81  97   0
83  82  90  26  87
84  49  59   4  12
85  76  88  21  25
86  76  31  69  43
87  57   3  84  74
88  98  84   4  96
89  84  74  99  99
90  69  45  55  32
91  85  89  51   5
92  51  45   1  58
93  66  11  44  95
94  84  55  96  21
95  75   1  46  56
96  95  79  55  79
97  43  66  90   2
98  89  46  33  44
99  66  37  49  91

[76 rows x 4 columns]

In [56]:
df.query("A>30 & B<40")

     A   B   C   D
0   51  22  41  76
4   85  38  61  19
9   66  18  96  92
13  95   0   6  83
17  42  25  88  35
19  57  36  70  73
21  98   7  71  36
22  35  31  92  91
30  61   1   8  73
33  45  31  97  28
35  58  22  36  39
38  89  35  66  22
40  93   7  72  90
48  57  23  61  35
49  55  39  83  94
51  71  18  28  26
52  97  18  85  21
55  52   9  46  96
57  48   3  94  84
60  90   2  98   7
61  92  11  79  94
63  32  10  80  51
71  34  24  34  22
76  47   4  64  61
78  45   4  50  18
80  88  13  37  43
86  76  31  69  43
87  57   3  84  74
93  66  11  44  95
95  75   1  46  56
99  66  37  49  91

In [57]:
df.query("A>30 & B<40").shape

(31, 4)

In [58]:
df.query("A>30 & B<40").count

<bound method DataFrame.count of      A   B   C   D
0   51  22  41  76
4   85  38  61  19
9   66  18  96  92
13  95   0   6  83
17  42  25  88  35
19  57  36  70  73
21  98   7  71  36
22  35  31  92  91
30  61   1   8  73
33  45  31  97  28
35  58  22  36  39
38  89  35  66  22
40  93   7  72  90
48  57  23  61  35
49  55  39  83  94
51  71  18  28  26
52  97  18  85  21
55  52   9  46  96
57  48   3  94  84
60  90   2  98   7
61  92  11  79  94
63  32  10  80  51
71  34  24  34  22
76  47   4  64  61
78  45   4  50  18
80  88  13  37  43
86  76  31  69  43
87  57   3  84  74
93  66  11  44  95
95  75   1  46  56
99  66  37  49  91>

In [59]:
df.iloc[60:66,0:3]

     A   B   C
60  90   2  98
61  92  11  79
62  70  61   4
63  32  10  80
64  37  82  66
65  16  60  12

In [60]:
df = df.drop(df[df.A==0].index)

In [61]:
df

     A   B   C   D
0   51  22  41  76
1   29  10   0  71
2    8  33  15  82
3   20   0  86  41
4   85  38  61  19
5   69  69  10  30
6   73  59  61  56
7   22  83  36  84
8   90  64  83  64
9   66  18  96  92
10  82  99  25  26
11   6  47  78  18
12  26   2  89   3
13  95   0   6  83
14  92  86  99  67
15  22  46  54  16
16  29  58  12  39
17  42  25  88  35
18  73  84  16  63
19  57  36  70  73
20  75  83  14  79
21  98   7  71  36
22  35  31  92  91
23   9  47  41  14
24  30  67  30  18
25  35  92  39   0
26  88  60  15   0
27  86  46  77  50
28  45  97  99  52
29   8  35  73  68
..  ..  ..  ..  ..
70  43  96  20  75
71  34  24  34  22
72  23  83  55  29
73  13   9  24   1
74  29   4  35  47
75  93  56  17  95
76  47   4  64  61
77  90  60  63  24
78  45   4  50  18
79  81  56  24  40
80  88  13  37  43
81  66  81  97   0
82   5  68   7  28
83  82  90  26  87
84  49  59   4  12
85  76  88  21  25
86  76  31  69  43
87  57   3  84  74
88  98  84   4  96
89  84  74  99  99
90  69  45  55  32
91  85  89  51   5
92  51  45   1  58
93  66  11  44  95
94  84  55  96  21
95  75   1  46  56
96  95  79  55  79
97  43  66  90   2
98  89  46  33  44
99  66  37  49  91

[99 rows x 4 columns]

In [62]:
df.query("A in [19,25,45]")

     A   B   C   D
28  45  97  99  52
33  45  31  97  28
44  45  61  34   6
59  45  45  43  45
78  45   4  50  18

In [63]:
df.query("A==19 | A==25 | A==45")

     A   B   C   D
28  45  97  99  52
33  45  31  97  28
44  45  61  34   6
59  45  45  43  45
78  45   4  50  18

In [64]:
df.query("A < B and B < C")

     A   B   C   D
11   6  47  78  18
15  22  46  54  16
28  45  97  99  52
29   8  35  73  68
31  15  22  93  72
34  15  28  87  25
41  74  77  78  80
54   4  79  89   2
81  66  81  97   0
97  43  66  90   2

In [65]:
df.iloc[44:60,0:3]  #select a subsection

     A   B   C
45  58  83  53
46  31  69  59
47  16  88  40
48  57  23  61
49  55  39  83
50  68  62  18
51  71  18  28
52  97  18  85
53  50  62   0
54   4  79  89
55  52   9  46
56  35  71   9
57  48   3  94
58  40  81   8
59  45  45  43
60  90   2  98

In [66]:
df.iloc[44:60,0:3].query("A in [2,97]")  #method chaining query and iloc   (where A is either 2 or 97)

     A   B   C
52  97  18  85

In [67]:
df.iloc[44:60,0:3].query("index in [57,60]")   #rewriting using index   (where row number is 57 or 60)

     A  B   C
57  48  3  94
60  90  2  98

In [68]:
df.iloc[24:59].query("index>50 & index<57")

     A   B   C   D
51  71  18  28  26
52  97  18  85  21
53  50  62   0  66
54   4  79  89   2
55  52   9  46  96
56  35  71   9  25

In [69]:
df.iloc[44:60,0:1].query("A>=0")

     A
45  58
46  31
47  16
48  57
49  55
50  68
51  71
52  97
53  50
54   4
55  52
56  35
57  48
58  40
59  45
60  90

In [70]:
df.iloc[44:59]  #performing a sample iloc operation

     A   B   C   D
45  58  83  53  15
46  31  69  59  82
47  16  88  40  61
48  57  23  61  35
49  55  39  83  94
50  68  62  18  41
51  71  18  28  26
52  97  18  85  21
53  50  62   0  66
54   4  79  89   2
55  52   9  46  96
56  35  71   9  25
57  48   3  94  84
58  40  81   8  74
59  45  45  43  45

In [71]:
df.query("index>44 & index<59")  #replicating the iloc functionality as above

     A   B   C   D
45  58  83  53  15
46  31  69  59  82
47  16  88  40  61
48  57  23  61  35
49  55  39  83  94
50  68  62  18  41
51  71  18  28  26
52  97  18  85  21
53  50  62   0  66
54   4  79  89   2
55  52   9  46  96
56  35  71   9  25
57  48   3  94  84
58  40  81   8  74

In [72]:
#based on above results, there appear to be subtle differences in the way iloc and query modules interpret dataframe indexing.
#Adapting the query accordingly.


df.query("index>43 & index<59")

     A   B   C   D
44  45  61  34   6
45  58  83  53  15
46  31  69  59  82
47  16  88  40  61
48  57  23  61  35
49  55  39  83  94
50  68  62  18  41
51  71  18  28  26
52  97  18  85  21
53  50  62   0  66
54   4  79  89   2
55  52   9  46  96
56  35  71   9  25
57  48   3  94  84
58  40  81   8  74

In [73]:
len(df.iloc[44:60,0:1].query("A>=0"))/len(df) *100    #percentage of data meeting a condition

16.161616161616163

In [74]:
df.iloc[44:60,0:1].query("A>=0").shape

(16, 1)

In [75]:
df.filter(items=['A', 'C'])

     A   C
0   51  41
1   29   0
2    8  15
3   20  86
4   85  61
5   69  10
6   73  61
7   22  36
8   90  83
9   66  96
10  82  25
11   6  78
12  26  89
13  95   6
14  92  99
15  22  54
16  29  12
17  42  88
18  73  16
19  57  70
20  75  14
21  98  71
22  35  92
23   9  41
24  30  30
25  35  39
26  88  15
27  86  77
28  45  99
29   8  73
..  ..  ..
70  43  20
71  34  34
72  23  55
73  13  24
74  29  35
75  93  17
76  47  64
77  90  63
78  45  50
79  81  24
80  88  37
81  66  97
82   5   7
83  82  26
84  49   4
85  76  21
86  76  69
87  57  84
88  98   4
89  84  99
90  69  55
91  85  51
92  51   1
93  66  44
94  84  96
95  75  46
96  95  55
97  43  90
98  89  33
99  66  49

[99 rows x 2 columns]

In [82]:
len(df[df.A > 85])

20

In [84]:
df.loc[df['A']>10, ['A','C']]  #Select rows meeting logical condition, and only the specific columns

     A   C
0   51  41
1   29   0
3   20  86
4   85  61
5   69  10
6   73  61
7   22  36
8   90  83
9   66  96
10  82  25
12  26  89
13  95   6
14  92  99
15  22  54
16  29  12
17  42  88
18  73  16
19  57  70
20  75  14
21  98  71
22  35  92
24  30  30
25  35  39
26  88  15
27  86  77
28  45  99
30  61   8
31  15  93
32  18  57
33  45  97
..  ..  ..
69  56  71
70  43  20
71  34  34
72  23  55
73  13  24
74  29  35
75  93  17
76  47  64
77  90  63
78  45  50
79  81  24
80  88  37
81  66  97
83  82  26
84  49   4
85  76  21
86  76  69
87  57  84
88  98   4
89  84  99
90  69  55
91  85  51
92  51   1
93  66  44
94  84  96
95  75  46
96  95  55
97  43  90
98  89  33
99  66  49

[93 rows x 2 columns]

In [87]:
df.filter(["A","C"]) .query("A>10")                                  # df.loc[df['A']>10, ['A','C']]

#Some conventional implementation looks like      df.loc[df['A'] > 10, ['A','C']]
#in such implementations are less intuitive, and semantically unclear. A cleaner way is to chain the query and filter modules.

     A   C
0   51  41
1   29   0
3   20  86
4   85  61
5   69  10
6   73  61
7   22  36
8   90  83
9   66  96
10  82  25
12  26  89
13  95   6
14  92  99
15  22  54
16  29  12
17  42  88
18  73  16
19  57  70
20  75  14
21  98  71
22  35  92
24  30  30
25  35  39
26  88  15
27  86  77
28  45  99
30  61   8
31  15  93
32  18  57
33  45  97
..  ..  ..
69  56  71
70  43  20
71  34  34
72  23  55
73  13  24
74  29  35
75  93  17
76  47  64
77  90  63
78  45  50
79  81  24
80  88  37
81  66  97
83  82  26
84  49   4
85  76  21
86  76  69
87  57  84
88  98   4
89  84  99
90  69  55
91  85  51
92  51   1
93  66  44
94  84  96
95  75  46
96  95  55
97  43  90
98  89  33
99  66  49

[93 rows x 2 columns]